<%= form_for([@item, @avatar], :html => { :multipart => true, :class => "new_marker_form"}) do |f|%>
  <div id="thumnail-details">
    <span class="familar-photo"> <%= t(:photo) %> </span>
   
  <% end %>

</div>