<%#*<h2>Sign in</h2>%>

<%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%#= f.text_field :email %>
<%#= f.password_field :password %>
<%#= f.check_box :remember_me %>
<%#= f.label :remember_me %>
<%#= f.submit 'Sign in' %>
<%#= link_to "Forgot your password?", new_password_path('user') %>
<%# end %>

<div class="clearfix"></div>
<div class="mainbanner">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="slogancap"></div>
        <div class="slogan">Modern way of managing rental business
          and tracking your resources
          <br />
          <small>Free 14-day trial with 24/7 support. No credit card required.</small>
          <br />
          
          <a href="#signupModal" data-toggle="modal">
            <button class="btn btn-banner">
              Get Started
            </button>
          </a>

          <button class="btn btn-banner transp">Watch Demo <i class="icon-caret-right icon-large"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="whitecontainer">
  <div class="container">
    <div class="row-fluid">
      <div class="partition span10 offset1">
        <div class="heading">
          Key Features
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid features">
      <div class="span6">
        <h2>
          Track your assets from anywhere
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="span6">
        <img src="/assets/img1.png" />
      </div>
    </div>
    <div class="row-fluid features">
      <div class="span6">
        <img src="/assets/img2.png" />
      </div>
      <div class="span6">
        <h2>
          Automate Bank Reconciliation
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="row-fluid features">
      <div class="span6">
        <h2>
          Rental Schedule Management
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="span6">
        <img src="/assets/img3.png" />
      </div>
    </div>
    <div class="row-fluid features">
      <div class="span6">
        <img src="/assets/img4.png" />
      </div>
      <div class="span6">
        <h2>
          Send Reminders to Customers
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>

</div>