@charset "utf-8";

html body
{
    background-color: #000000 !important;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:86px !important;
}

.navbar.navbar-fixed-top .navbar-inner
{
    background: #000;
    box-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.3);
    height: 86px;
    border:0 none transparent;
}

.navbar.navbar-fixed-top .brand
{
    padding:30px 0;
}

.navbar.navbar-fixed-top .nav > li > a
{
    font-size: 14px;
    line-height: normal;
    padding: 40px 10px 10px;
}

.mainbanner
{
    background:url(/assets/bg-img.png) scroll repeat-x center top;
    min-height:480px;
    margin-top:-86px;
    padding-top:182px;
}

.slogancap{
    display:block;
    background-color:#fff;
    height:5px;
    width:180px;
    margin:0 auto 20px;
}

.slogan
{
    color:#fff;
    font-size:42px;
    line-height:58px;
    text-transform:uppercase;
    text-align:center;
    padding:0 5%;
}

.slogan small { font-size:12px; }

.btn.btn-banner
{
    font-size:18px;
    color:#fff;
    text-shadow:0 0 0 transparent !important;
    background-color:#49b0e6;
    background-image:none;
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    line-height:50px;
    border-radius:50px;
    padding:0 30px;
    border:0 none transparent !important;
}

.btn.btn-banner.transp
{
    background-color:transparent !important;
    background-image:none !important;
    box-shadow:0 0 0 transparent !important;
}

.whitecontainer{
    background:#ffffff;
    color:#767676;
}

.partition {
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    height: 20px;
    margin:30px 0;
}

.partition .heading {
    color: rgb(54, 54, 54);
    background: #fff;
    width: 20%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.features{text-align:center;border-bottom:1px solid #ddd;}

h2{color:#545454;font-weight:normal !important;font-size:26px;}

p{font-size:16px;}

.footer{
    padding:30px 0;
}

.footer ul{list-style:none;padding:0;margin:0;}

.footer h4{font-size:14px;color:#fff;}

.footer a{text-decoration:none;font-size:13px;color:#909090;}

.features{padding:30px 0;}
.popup.modal{
    width:60%;
    position:absolute;
    left:50%;
    margin-left:-30%;
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 5px 10px #000;
    border-radius:0 !important;
}
.popup.modal .modal-header .close {
    color: #ddd;
    font-weight: normal;
}
.popup.modal .modal-header h3{font-weight:normal;}
.popup.modal .modal-header{
    background-color:#000;
    color:#fff;

}

.greycontainer {
    width: 80%;
    margin: 20px 5% 0;
    background: #d8d8d8;
    padding: 20px 5% 1px;
}

.signinbuttonandtext{
    text-align: left;
}
*:focus{outline:none;}

/*pricing html*/
body .well {
    font-size: 24px;
    color: #5e5e5e;
    padding-left: 40px;
    padding-right: 40px;
}

.mutual_features{
    margin-top: 30px;
}

.mutual_features h2{
    color:#703300;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
}
.mutual_features ul{}

.mutual_features ul li{background:url(../images/tick.png) no-repeat scroll left center transparent;font-size:16px;color:#5e5e5e;list-style: none;padding: 4px 0 4px 30px;}

.container .row-fluid .opning_line{text-align:center;color:#666;font-size:16px;}

.container .row-fluid .opning_line a{color:#000;text-decoration:underline;font-weight:bold;}

.container .row-fluid .packages {
    background: url(../images/packages.png) scroll no-repeat center center transparent;
    min-height: 296px;
    margin-top: 30px;
}