<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="whitecontainer">
  <div class="container">
    <div class="row-fluid">
      <div class="partition span10 offset1">
        <div class="heading">
          Pricing
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid">
      <div class="span12 opning_line">
        Feature updates, automatic backups, support and more – for free. Get started now and <a href="#">signup for your free trial</a>.
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid">
      <div class="span4 mutual_features">
        <h2>ALL PRICING PLANS INCLUDE</h2>
        <ul>
          <li>
            Free trial, pay nothing until you're ready
          </li>
          <li>
            No setup fees, upgrade fees or contracts
          </li>
          <li>
            Unlimited users
          </li>
          <li>
            Unlimited customer support
          </li>
          <li>
            Access anywhere online
          </li>
          <li>
            Automatic backups
          </li>
          <li>
            Pay by credit card
          </li>
          <li>
            Cancel online at any time
          </li>
        </ul>
      </div>
      <div class="span8 packages">

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid">
      <hr />
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row-fluid">
    <div class="well span8 offset2">
      <a href="/companies/new?u=<%= @user.id %>">
        <img src="/assets/tkff.png" />
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;Free trial, pay nothing until you're ready
    </div>
  </div>

</div>